  <%- include('./partials/head.ejs') %> 
<body>
 <%- include('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rerum tempore asperiores obcaecati pariatur esse perspiciatis nulla minus porro, a voluptatum aliquam vel libero omnis assumenda consectetur. Possimus assumenda, repellendus aliquam doloremque aut ipsum architecto, natus voluptatibus enim sunt quisquam quidem debitis totam consectetur atque. Voluptas aut quod nemo nulla.
            
        </p>
    </div>

 <%- include('./partials/footer.ejs') %> 
</body>
</html>